---
import Layout from '../layouts/Layout.astro';
import Header from '../layouts/Layout.astro';
import Topics from '../layouts/Layout.astro';
import News from '../layouts/Layout.astro';
import History from '../layouts/Layout.astro';
import Goods from '../layouts/Layout.astro';
import Archives  from '../layouts/Layout.astro';
import Footer from '../layouts/Layout.astro';
---

<Layout>
  <main>
    <Header />
    <Topics />
    <News />
    <History />
    <Goods />
    <Archives />
  </main>
  <Footer />
	
</Layout>
