---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Topics from '../components/Topics.astro';
import News from '../components/News.astro';
import History from '../components/History.astro';
import Goods from '../components/Goods.astro';
import Archives  from '../components/Archives.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <main>
    <Header />
    <Topics />
    <News />
    <History />
    <Goods />
    <Archives />
  </main>
  <Footer />
	
</Layout>
