<div class="flex justify-center [&>a]:hover:bg-gray-300/80 [&>a]:transition-colors [&>a]:duration-300 [&>a]:ease-in-out">
  <a href="#" class="uppercase px-20 py-2.5 bg-white text-black font-semibold z-30">More</a>
</div>