<header class="py-4 px-3 flex items-center fixed top-0 w-full justify-between bg-black/45 z-40">
  <div>
    <img src="../../public/logo-konami.png" alt="Logo de konami" class="h-10">
  </div>

  <nav class="pr-6 text-lg font-bold uppercase">
    <ul class="flex gap-10 text-white [&>li>a]:hover:text-gray-300/80 [&>li>a]:transition-colors [&>li>a]:duration-300 [&>li>a]:ease-in-out">

      <li><a href="#">Topics</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Goods</a></li>
      <li><a href="#">Archives</a></li>
    </ul>
  </nav>
</header>
