<header class="py-4 px-3 flex items-center fixed top-0 w-full justify-between bg-black/45">
  <div>
    <img src="../../public/logo-konami.png" alt="Logo de konami" class="h-10">
  </div>

  <nav class="pr-9 text-xl font-bold uppercase">
    <ul class="flex gap-10">
      <li><a href="#">Topics</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">History</a></li>
      <li><a href="#">Goods</a></li>
      <li><a href="#">Archives</a></li>
    </ul>
  </nav>
</header>
