<header>
  <div>
    <img src="../../public/logo-konami.png" alt="Logo de konami">
  </div>

  <div>
    <li><a href="#">Topics</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">History</a></li>
    <li><a href="#">Goods</a></li>
    <li><a href="#">Archives</a></li>
  </div>
  
</header>