---
import Button from "./Button.astro"
import NewsItem from "./NewsItem.astro"
---
 
<section class="absolute h-screen w-screen">
  <div>
    <h2>News</h2>
  </div>

  <div>
  
  </div>

  <Button />
</section>
