---
interface Props {
  date: string;
  title: string;
  platforms?: string;
}

const { date, title, platforms } = Astro.props;
---

<div>
  <div class="flex">
    <p class="text-gray-600 text-base justify-center">{date}</p>
    <h3 class="text-white text-lg justify-center">{title}</h3>
    <img src="../../public/flecha-derecha.png" alt="flecha derecha">
  </div>

  <div>
    {platforms && (
      <a class="text-gray-400 text-xs mt-1">{platforms}</a>
      <a class="text-gray-400 text-xs mt-1">{platforms}</a>
    )}
  </div>
</div>