---
const { date, title, platforms = [] } = Astro.props;

interface Props {
  date: string;
  title: string;
  platforms?: string[];
}
---

<div class="bg-[#1c1c1c] max-w-5xl p-4 rounded-sm mx-auto my-3">
  
  <div class="flex justify-between items-center">
    <p class="text-[#999999] text-sm">{date}</p>
    <h3 class="text-white text-base font-normal flex-1 ml-4">{title}</h3>
    <img src="../../public/flecha-derecha.png" alt="flecha derecha" class="w-4 h-4 invert">
  </div>

  {platforms.length > 0 && (
    <div class="flex gap-2 mt-3 ml-22">
      {platforms.map(platform => (
        <a class="bg-white text-black text-xs font-bold px-6 py-1.5">{platform}</a>
      ))}
    </div>
  )}
</div>
