---
import Cards from "./Cards.astro"
---

<section class="h-screen w-screen absolute z-30">
  <div>
    <h2 class="uppercase">Topics</h2>
  </div>

  <div class="grid grid-cols-3">
    <Cards
      image = "../../public/topics_beginner.jpg"
      description = "Beginner's Guide to METAL GEAR Released !"
    />
    <Cards
      image = "../../public/mgs3-remake.jpg"
      description = "METAL GEAR SOLID Δ: SNAKE EATER Pre-order Now!"
    />
    <Cards
      image = "../../public/mgs3-trailer.jpg"
      description = "METAL GEAR SOLID Δ: SNAKE EATER - Release Date Trailer Released"
    />
    <Cards
      image = "../../public/snake-figure.jpg"
      description = "METAL GEAR SOLID Δ: SNAKE EATER Collector's Pack - Snake ELITE BUST Images Added"
    />
    <Cards
      image = "../../public/"
      description = ""
    />
    <Cards
      image = "../../public/"
      description = ""
    />
    
  </div>

  <div class="flex justify-center">
    <a href="#" class="uppercase px-20 py-2.5 bg-white text-black font-semibold">More</a>
  </div>
</section>