<div class="w-screen h-screen fixed top-0 left-0 overflow-hidden">
  <video class="w-full h-full object-cover" src="../../public/bg-video.mp4" autoplay loop muted></video>
</div>

<div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
  <img src="../../public/logo.png" alt="Logo-metalGear" class="h-36">
</div>
