---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image" href="../../public/delta.ico" />
		<title>METAL GEAR PORTAL SITE | CLONE</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style is:global>
	*{
		text-decoration: none;
		list-style: none;
		box-sizing: border-box;
		overflow-x: hidden;
	}
</style>
